body {
    background-color: #ffd580;
    text-align: center;
    color: #372829
}

.cat {
    font-family: fantasy;
}

.SECRET {
    opacity: .5;
}

ul[storage="trunk"] {
    list-style-type: none;
  }

  table, th, td {
    border: 1px solid grey;
    margin: 0 auto;
  }

.cabbage {
    color: chartreuse;
}